body{
    display:flex;
    justify-content:center;
    font-family: 'Poppins', sans-serif;
}
#background{
    background-color:#1D1E22;
    height: fit-content;
    width:255px;
    border-radius:10px;
    display: flex;
    flex-wrap: wrap;
}
input{
    background-color:white;
    height: 54px;
    width: 217px;
    margin-left:15px;
    margin-top:15px;
    border-radius:10px;
    font-size: 24px;
    text-align: right;
    font-weight: 600;
}
#deletion{
    height:40px;
    width:225px;
    display: flex;
    margin-left:15px;
    margin-top:10px;
    justify-content:space-between;
}
#delete{
    background-color:yellow;
    width:45px;
    font-size:36px;
    border-radius:6px;
    cursor: pointer;
}
#clear{
    background-color:red;
    width:165px;
    border-radius:6px;
    font-size:20px;
    font-weight:600;
    text-align: center;
    cursor: pointer;
}
#numbers{
    height: fit-content;
    width: 255px;
    display: flex;
    flex-wrap: wrap;
}
.num{
    height: 40px;
    width: 45px;
    background-color: aliceblue;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.insidenum{
    margin-top: 9px;
    font-size: 18px;
    font-weight: 600;
}
#minus{
    margin-top: 0px;
}
.cover{
    height: 15px;
    width: 100%;
}