body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: #1e1448;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #1e1448;
    color: white;
    position: fixed;
    width: 100%;
}
.headercover{
    border: none;
    height: 100px;
    width: 100%;
}
.separationbar{
    border: 1px solid rgb(189, 187, 187);
    height: 15px;
    width: 0%;
}
nav ul{
    display: flex;
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    padding: 0px 20px;
}
header a :hover{
    color: #00C0FF;
}
header .icons ul{
    display: inline-flex;
    list-style: none;
    font-size: 24px;
    margin-right: 60px;
}
.logo{
    margin-left: 60px;
    font-size: 36px;
    font-weight: 600;
}
.bigname{
    display: block;
    margin-bottom: 20px;
    margin-top: 90px;
    margin-left: 94px;
    font-size: 60px;
    font-weight: 600;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    border: none;
    height: 400px;
    width: 52%;
    color: white;
    margin-top: 40px;
}
.right{
    border: none;
    height: 400px;
    width: 40%;
    margin-top: 40px;
}
.circle{
    border: none;
    height: 80%;
    width: 60%;
    background-image: url("pic.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 40px;
}
.hirebutton{
    border: none;
    height: 40px;
    width: 20%;
    background-color: aqua;
    margin-left: 40%;
    margin-top: 20px;
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    border-radius: 40px;
}
.lasthomesection{
    border: none;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.belowboxes{
    border: none;
    height: 300px;
    width: 30%;
    background-color: #3A2B71;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
}
.iconsection{
    border: none;
    height: 90px;
    width: 94%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 10%;
}
.lowersection{
    border: none;
    height: 160px;
    width: 90%;
    padding-left: 8%;
    padding-right: 8%;
}
.lowersection p{
    margin-right: 14px;
    color: rgb(189, 187, 187);
}
.aboutme{
    border: none;
    height: fit-content;
    width: 100%;
    text-align: center;
    color: #00C0FF;
    font-size: 24px;
    font-weight: 600;
}
.passionateme{
    border: none;
    height: fit-content;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.aboutleft{
    border: none;
    height: 400px;
    width: 45%;
    color: white;
    margin-top: 40px;
    display: flex;
}
.aboutright{
    border: none;
    height: 400px;
    width: 55%;
    margin-top: 40px;
}
.pic{
    border: none;
    height: 360px;
    width: 40%;
    background-image: url("pic1.jpg");
    background-position-y: top;
    background-size: cover;
    margin-top: 40px;
    margin-left: 9%;
    border-radius: 20px;
}
.coffeewithpc{
    border: none;
    height: 160px;
    width: 12%;
    background-image: url("coffeewithpc.jpeg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 1440px;
    left: 190px;
    border-radius: 20px;
}
.medal{
    border: none;
    height: 16%;
    width: 11%;
    background: url("medal.svg");
    background-color: #00C0FF;
    margin-top: 80px;
    margin-left: 33%;
    border-radius: 10px;
}
.before12{
    border: 4px solid #00C0FF;
    height: 38px;
    width: 0%;
    margin-left: 28%;
    margin-top: 14px;
}
.success1{
    border: none;
    color: white;
    height: fit-content;
    width: fit-content;
    font-size: 40px;
    font-weight: 700;
    margin-left: 2px;
    margin-top: 7px;
}
.success2{
    border: none;
    height: fit-content;
    width: 6%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 2px;
    margin-top: 8px;
}
.address1{
    border: 2px solid rgb(147, 129, 129);
    border-right: 1px solid rgb(147, 129, 129);
    height: 250px;
    width: 45%;
    background-color: #1e1448;
    float: left;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.address2{
    border: 2px solid rgb(147, 129, 129);
    border-left: 1px solid rgb(147, 129, 129);
    height: 250px;
    width: 45%;
    background-color: #1e1448;
    float: left;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.inneraddress{
    border: none;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.innerheads{
    font-weight: 500;
}
.cvbutton{
    border: none;
    height: fit-content;
    width: 16%;
    background-color: #00C0FF;
    margin-left: 10%;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}